@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #daa520,
  $secondary: #00abff,
  $surface: #fff,
  $background: #fff,
  $error: #ff0000,
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

